.subheading {
  font-family: 'Pompiere', cursive;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

a {
  color:inherit;
}

body {
  background-image: url('../img/wildflower_bg.gif');
  background-color: #fcf7e4;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 400px;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 30px;
}

.container {
  margin:0em;
}
/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
p {
  font-size:4rem;
  font-family: 'Hurricane', cursive;
  margin: 0;
  padding: 0;
} /*1rem = 16px*/

div.links {
  padding-top: 80px;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  p {
    font-size:8rem;
    font-family: 'Hurricane', cursive;
    margin: 0;
    padding: 0;
  } /*1rem = 16px*/
}

@media (min-width: 544px) {
  div.links {
    padding-top: 0px;
  }
}

@media (min-width: 544px) {
  .flex-center {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  p {
    font-size:8rem;
    font-family: 'Hurricane', cursive;
    margin: 0;
    padding: 0;
  } /*1rem = 16px*/
}

@media (min-width: 1200px) {
  div.links {
    padding-top: 0px;
  }
}

a.button1{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family: 'Hurricane', cursive;
  font-weight:400;
  color:#FFFFFF;
  transition: all 0.15s;
}
a.button1:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}
a.button1:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}

.flex-center {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* CSS */
.button-55 {
  padding-top: 25px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: 'Pompiere', cursive;
  font-size: 1.2rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}